name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '19.x'
      - run: npm ci
        working-directory: backend
      - run: npm run format
        working-directory: backend
      - run: npm run build --if-present
        working-directory: backend
      - run: npm test
        working-directory: backend
